<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @personne.nom %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @personne.prenom %>
</p>

<p>
  <strong>Date naissance:</strong>
  <%= @personne.date_naissance %>
</p>

<%= link_to 'Edit', edit_personne_path(@personne) %> |
<%= link_to 'Back', personnes_path %>
