<%= form_for(@voiture) do |f| %>
  <% if @voiture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@voiture.errors.count, "error") %> prohibited this voiture from being saved:</h2>

      <ul>
      <% @voiture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :immatriculation %><br>
    <%= f.text_field :immatriculation %>
  </div>
  <div class="field">
    <%= f.label :couleur %><br>
    <%= f.text_field :couleur %>
  </div>
  <div class="field">
    <%= f.label :marque %><br>
    <%= f.text_field :marque %>
  </div>
  <div class="field">
    <%= f.label :modele %><br>
    <%= f.text_field :modele %>
  </div>
  <div class="field">
    <%= f.label :date_mise_en_service %><br>
    <%= f.date_select :date_mise_en_service %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
